[user]
    name = Antti Holvikari
    email = anttih@gmail.com
[diff]
    renamelimit = 4000
[branch]
	autosetuprebase = always
[color]
    ui = auto
    status = auto
    diff = auto
    branch = auto
[alias]
    amend = commit --amend
    s = status --short
    b = branch
    c = commit -v
    cm = commit -m
    ca = commit -a -m
    co = checkout
    a = add
    ai = add --interactive
    aa = add --all
    d = diff
    dc = diff --cached
    l = log --graph --abbrev-commit --date=relative
    r = !git l -20
    today = shortlog --since='12 hours ago'
    yesterday = shortlog --since='25 hours ago' --until='12 hours ago'
    sc = svn dcommit
    sr = svn rebase
[format]
    pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset
[core]
    excludesfile = ~/.gitignore
    pager = less
[push]
    default = simple
